.card {
  font-family: "Poppins", Arial, sans-serif;
  display: flexbox;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../images/deletelogofixed.svg);
  border: none;
}

.card__delete-button:hover {
  background-image: url(../images/hoverdelete.svg);
}

.card__like-button {
  background-image: url(../images/LikeIcon.svg);
  width: 20px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/like-active-logo.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 100%;
  }
}
