.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
  margin: 0 auto;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  gap: 8px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  color: white;
  border: none;
  background-color: #212121;
  opacity: 0.5;
  cursor: pointer;
  width: 23px;
  height: 23px;
  right: 4.66px;
  bottom: 4.66px;
  left: unset;
  gap: unset;
  align-items: center;
  padding: 0;
  border-radius: 6px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::before {
  content: "";
  background-image: url("../images/light pencil.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 11.650582114146374;
  height: 3.213955585788339;
  opacity: 1;
  top: 2.6px;
  left: 2.56px;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  display: block;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 420px;
  color: #212121;
  opacity: 70%;
}

.profile__edit-button {
  margin-top: auto;
  background-color: transparent;
  border: none;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  gap: 8px;
  padding: 0;
  cursor: pointer;
  opacity: 70%;
  display: flex;
  align-items: center;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  gap: 8px;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
    align-self: center;
  }

  .profile__column {
    margin: 12px 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
  .profile__edit-button {
    align-self: center;
  }
}
